{% extends "layout.html.twig" %}
{% block content %}

<h2 class="title">{{ 'mirrors.title'|trans }}</h2>

<section class="col-d-12">
<h3 id="list-packages">{{ 'mirrors.caution'|trans }}</h3>
<p>Packagist.org package metadata is hosted on the Bunny.net CDN to meet demand from the Composer user base. Their <a href="https://bunny.net/network/">global network</a> should ensure good latency and speed for almost all Composer users.</p>
<p>In the event that you experience issues however, you may try the following mirrors. These mirrors are unafiliated with us, community run and as such they might be considered an additional security risk as the metadata that Composer downloads tells it where to download code from.</p>
<p>AGAIN, USE AT YOUR OWN RISK.</p>

<h3 id="list-packages">{{ 'mirrors.mirror_list'|trans }}</h3>
<p>Packagist.org is hosted on a <a href="https://bunny.net/network/">global network</a>.</p>
<p>On top of this, we are aware of the following list of third-party-run mirrors, please refer to their website to see how to use them. They may be outdated, broken or insecure:</p>
<ul>
  <li>Asia, China <a rel="nofollow" href="https://developer.aliyun.com/composer">developer.aliyun.com/composer</a></li>
  <li>Asia, China <a rel="nofollow" href="https://packagist.mirrors.sjtug.sjtu.edu.cn">packagist.mirrors.sjtug.sjtu.edu.cn</a></li>
  <li>Asia, China <a rel="nofollow" href="https://mirrors.cloud.tencent.com/help/composer.html">mirrors.cloud.tencent.com/help/composer.html</a></li>
  <li>Asia, Japan <a rel="nofollow" href="https://packagist.jp">packagist.jp</a></li>
</ul>

<h3 id="list-packages-all">{{ 'mirrors.running_your_own'|trans }}</h3>
<p>If you are interested in running your own mirror, we recommend first considering subscribing to a <a href="https://packagist.com">Private Packagist</a> account which offers mirroring and much more. If you still really want to run your own, please use our <a href="https://github.com/composer/mirror">mirroring code</a> to avoid duplicating efforts.</p>

</section>

{% endblock %}
