{% extends "FOSUserBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block fos_user_content %}
<section class="col-md-9">
    {%- if app.user.apiToken %}
        <h3 class="font-normal">Your API Token</h3>

        <div class="input-group clearfix">
            <input id="api-token" type="text" class="form-control" value="" data-api-token="{{ app.user.apiToken }}" readonly="readonly">
            <span class="input-group">
                <button class="btn btn-success btn-show-api-token" type="button">Show API Token</button>
            </span>
        </div>

        <p>You can use your API token to interact with the Packagist API.</p>

        <hr>

        <h3 class="font-normal">GitHub Service Hook</h3>
        <p>Enabling the Packagist service hook ensures that your package will always be updated instantly when you push to GitHub. To do so you can go to your GitHub repository, click the "Settings" button, then "Webhooks &amp; Services". Add a "Packagist" service, and configure it with your API token (see above), plus your Packagist username. Check the "Active" box and submit the form. You can then hit the "Test Service" button to trigger it and check if Packagist removes the warning about the package not being auto-updated.</p>

        <hr>

        <h3 class="font-normal">Bitbucket POST Service</h3>
        <p>To enable the Bitbucket service hook, go to your BitBucket repository, open the settings and select "Hooks" in the menu. Pick "POST" in the list and add it to your repository. Afterwards, you have to enter the Packagist endpoint, containing both your username and API token (see above). Enter <code>https://packagist.org/api/bitbucket?username={{ app.user.username }}&amp;apiToken=&hellip;</code> for the service's URL. Save your changes and you're done.</p>

        <hr>
    {%- endif %}

    {% embed "PackagistWebBundle:Web:list.html.twig" with {'noLayout': 'true'} %}
        {% block content_title %}
            <h3 class="font-normal">Your packages</h3>
        {% endblock %}
    {% endembed %}
</section>
{% endblock %}
