# See the configuration reference at https://symfony.com/bundles/SchebTwoFactorBundle/6.x/configuration.html
scheb_two_factor:
    security_tokens:
        - Symfony\Component\Security\Core\Authentication\Token\UsernamePasswordToken
        - Symfony\Component\Security\Http\Authenticator\Token\PostAuthenticationToken

    backup_codes:
        enabled: true
        manager: App\Security\TwoFactorAuthManager

    totp:
        enabled: true
        server_name: '%env(APP_HOSTNAME)%'
        issuer: Packagist
        leeway: 10

    trusted_device:
        enabled: true
        lifetime: 2592000 # 30 days

    # prevent reusing 2FA codes
    code_reuse_cache: 'cache.app'
