{% extends 'organization/layout.html.twig' %}

{% block org_content %}
    {% if is_granted(enum('App\\Security\\Voter\\OrganizationActions').Edit.value, organization) %}
        <a href="{{ path('organization_settings', { organization: organization.slug }) }}" class="btn btn-default pull-right">Edit settings</a>
    {% endif %}

    {# Groundwork for org deletion (not yet implemented). #}
    {% if organization.deleted %}
        <p class="alert alert-warning">This organization has been deleted.</p>
    {% endif %}

    <dl class="dl-horizontal">
        <dt>Slug</dt>
        <dd><code>/organizations/{{ organization.slug }}</code></dd>
        <dt>Created</dt>
        <dd>{{ organization.createdAt|date('Y-m-d') }}</dd>
    </dl>
{% endblock %}
