# This file is for unifying the coding style for different IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = true
indent_size = 4

[{*.css,*.less,*.js}]
indent_size = 4

[{*.json,*.yml,*.yaml}]
indent_size = 4

[composer.json]
indent_size = 4
