/node_modules/
web/packages*.json
web/providers-*.json
web/p/
web/p2/
web/build/
/config/parameters.yml
/.settings
/.buildpath
/.project
/.idea
/composer.phar
/nbproject
/.php_cs.cache
/.phpstan-dba.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/web/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
