web/bundles/
web/packages*.json
web/providers-*.json
web/p/
app/config/parameters.yml
app/bootstrap*
app/cache/*
app/logs/*
bin/
build/
vendor/
/.settings
/.buildpath
/.project
/.idea
composer.phar
/nbproject
