parameters:
	ignoreErrors:
		-
			message: "#^Offset 'downloaded' on array\\{name\\: string, version\\: string, id\\: int, vid\\: int\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: src/Controller/ApiController.php

		-
			message: "#^Parameter \\#1 \\$nbResults of class Pagerfanta\\\\Adapter\\\\FixedAdapter constructor expects int\\<0, max\\>, int given\\.$#"
			count: 1
			path: src/Controller/ExploreController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Controller/PackageController.php

		-
			message: "#^Match expression does not handle remaining value\\: 3$#"
			count: 1
			path: src/Controller/PackageController.php

		-
			message: "#^Offset string on array\\<int, int\\> on left side of \\?\\? does not exist\\.$#"
			count: 1
			path: src/Controller/PackageController.php

		-
			message: "#^Parameter \\#1 \\$nbResults of class Pagerfanta\\\\Adapter\\\\FixedAdapter constructor expects int\\<0, max\\>, int given\\.$#"
			count: 1
			path: src/Controller/PackageController.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Controller/PackageController.php

		-
			message: "#^Method App\\\\Controller\\\\WebController\\:\\:statsAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/WebController.php

		-
			message: "#^Method App\\\\Controller\\\\WebController\\:\\:statsTotalsAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/WebController.php

		-
			message: "#^Parameter \\#1 \\$object of static method DateTimeImmutable\\:\\:createFromMutable\\(\\) expects DateTime, DateTimeInterface given\\.$#"
			count: 1
			path: src/DataFixtures/DownloadFixtures.php

		-
			message: "#^Method App\\\\Entity\\\\DependentRepository\\:\\:deletePackageDependentSuggesters\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Entity/DependentRepository.php

		-
			message: "#^Method App\\\\Entity\\\\DownloadRepository\\:\\:deletePackageDownloads\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Entity/DownloadRepository.php

		-
			message: "#^Method App\\\\Entity\\\\Job\\:\\:__construct\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Method App\\\\Entity\\\\Job\\:\\:complete\\(\\) has parameter \\$result with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Method App\\\\Entity\\\\Job\\:\\:getPayload\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Method App\\\\Entity\\\\Job\\:\\:getResult\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Property App\\\\Entity\\\\Job\\:\\:\\$payload type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Property App\\\\Entity\\\\Job\\:\\:\\$result type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Property App\\\\Entity\\\\Job\\:\\:\\$status \\('completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone'\\|'queued'\\|'reschedule'\\|'started'\\|'timeout'\\) does not accept string\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Property App\\\\Entity\\\\Job\\:\\:\\$status type mapping mismatch\\: database can contain string but property expects 'completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone'\\|'queued'\\|'reschedule'\\|'started'\\|'timeout'\\.$#"
			count: 1
			path: src/Entity/Job.php

		-
			message: "#^Method App\\\\Entity\\\\Package\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Package.php

		-
			message: "#^Property App\\\\Entity\\\\Package\\:\\:\\$cachedVersions type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Package.php

		-
			message: "#^Property App\\\\Entity\\\\Package\\:\\:\\$entityRepository has no type specified\\.$#"
			count: 1
			path: src/Entity/Package.php

		-
			message: "#^Property App\\\\Entity\\\\Package\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: src/Entity/Package.php

		-
			message: "#^Property App\\\\Entity\\\\Package\\:\\:\\$vcsDriverError has no type specified\\.$#"
			count: 1
			path: src/Entity/Package.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:findProviders\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getCountByYearMonth\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getDependentCount\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getPackageByName\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getPackageNamesByType\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getPackageNamesByVendor\\(\\) has parameter \\$vendor with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getPackagesWithFields\\(\\) should return array\\<array\\<string, bool\\|int\\|string\\>\\> but returns array\\<string, array\\<string, bool\\|string\\|null\\>\\>\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getPartialPackageByNameWithVersions\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getStalePackages\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getSuspectPackageCount\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getSuspectPackages\\(\\) has parameter \\$limit with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getSuspectPackages\\(\\) has parameter \\$offset with no type specified\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getSuspectPackages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PhpStatRepository\\:\\:createOrUpdateRecord\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PhpStatRepository\\:\\:deletePackageStats\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PhpStatRepository\\:\\:transferStatsToDb\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Parameter \\#2 \\$key of method App\\\\Entity\\\\PhpStatRepository\\:\\:getKeyInfo\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Parameter \\#2 \\$keys of method App\\\\Entity\\\\PhpStatRepository\\:\\:createDbRecordsForKeys\\(\\) expects array\\<string, int\\>, array\\<int\\|string, int\\> given\\.$#"
			count: 2
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Parameter \\#2 \\$type of class App\\\\Entity\\\\PhpStat constructor expects 1\\|2, int given\\.$#"
			count: 2
			path: src/Entity/PhpStatRepository.php

		-
			message: "#^Method App\\\\Entity\\\\SecurityAdvisoryRepository\\:\\:getPackageSecurityAdvisories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/SecurityAdvisoryRepository.php

		-
			message: "#^Method App\\\\Entity\\\\SecurityAdvisoryRepository\\:\\:searchSecurityAdvisories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/SecurityAdvisoryRepository.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:setSalt\\(\\) has parameter \\$salt with no type specified\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Parameter \\#1 \\$secret of class Scheb\\\\TwoFactorBundle\\\\Model\\\\Totp\\\\TotpConfiguration constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getAutoload\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getBinaries\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getDist\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getExtra\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getIncludePaths\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getLicense\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getNames\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getSource\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:getSupport\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setAutoload\\(\\) has parameter \\$autoload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setBinaries\\(\\) has parameter \\$binaries with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setDist\\(\\) has parameter \\$dist with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setExtra\\(\\) has parameter \\$extra with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setIncludePaths\\(\\) has parameter \\$paths with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setLicense\\(\\) has parameter \\$license with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setSource\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:setSupport\\(\\) has parameter \\$support with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:toArray\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:toV2Array\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\Version\\:\\:toV2Array\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Property App\\\\Entity\\\\Version\\:\\:\\$dist \\(array\\{type\\: string\\|null, url\\: string\\|null, reference\\: string\\|null, shasum\\: string\\|null\\}\\|null\\) does not accept array\\|null\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Property App\\\\Entity\\\\Version\\:\\:\\$source \\(array\\{type\\: string\\|null, url\\: string\\|null, reference\\: string\\|null\\}\\|null\\) does not accept array\\|null\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:detachToArray\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:detachToArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:getCountByYearMonth\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:getEntityManager\\(\\) should return Doctrine\\\\ORM\\\\EntityManager but returns Doctrine\\\\ORM\\\\EntityManagerInterface\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:getLatestReleases\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:getLatestReleases\\(\\) has parameter \\$count with no type specified\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Entity\\\\VersionRepository\\:\\:getVersionData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/VersionRepository.php

		-
			message: "#^Method App\\\\Form\\\\Type\\\\AbandonedType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Type/AbandonedType.php

		-
			message: "#^Method App\\\\Form\\\\Type\\\\EnableTwoFactorAuthType\\:\\:buildForm\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Type/EnableTwoFactorAuthType.php

		-
			message: "#^Method App\\\\Form\\\\Type\\\\EnableTwoFactorAuthType\\:\\:configureOptions\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Form/Type/EnableTwoFactorAuthType.php

		-
			message: "#^Method App\\\\Model\\\\RedisAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: src/Model/RedisAdapter.php

		-
			message: "#^Argument of an invalid type array\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Method App\\\\Package\\\\SymlinkDumper\\:\\:__construct\\(\\) has parameter \\$awsMetadata with no type specified\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Method App\\\\Package\\\\SymlinkDumper\\:\\:dumpVersionToIndividualFile\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 4
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Parameter \\#1 \\$str of function strtr expects string, array\\|string given\\.$#"
			count: 2
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$awsMeta type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$individualFiles type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$individualFilesMtime type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$listings type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$rootFile type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$webDir \\(string\\) does not accept string\\|false\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Property App\\\\Package\\\\SymlinkDumper\\:\\:\\$writeLog type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: "#^Cannot call method addElement\\(\\) on HTMLPurifier_HTMLDefinition\\|null\\.$#"
			count: 2
			path: src/Package/Updater.php

		-
			message: "#^Cannot call method removeChild\\(\\) on DOMNode\\|null\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Method App\\\\Package\\\\Updater\\:\\:update\\(\\) has parameter \\$existingVersions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Method App\\\\Package\\\\Updater\\:\\:updateInformation\\(\\) has parameter \\$existingVersions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Method App\\\\Package\\\\Updater\\:\\:updateInformation\\(\\) has parameter \\$rootIdentifier with no type specified\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Parameter \\#1 \\$haystack of function strpos expects string, string\\|false given\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, int\\|false given\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: src/Package/Updater.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Method App\\\\Package\\\\V2Dumper\\:\\:__construct\\(\\) has parameter \\$awsMetadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Method App\\\\Package\\\\V2Dumper\\:\\:dumpVersionsToV2File\\(\\) has parameter \\$versionData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Method App\\\\Package\\\\V2Dumper\\:\\:dumpVersionsToV2File\\(\\) has parameter \\$versions with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Parameter \\#1 \\$dir of method App\\\\Package\\\\V2Dumper\\:\\:dumpPackageToV2File\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, int\\<0, max\\> given\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Parameter \\#1 \\$target of function symlink expects string, string\\|false given\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Parameter \\#2 \\$contents of method App\\\\Package\\\\V2Dumper\\:\\:writeV2File\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Property App\\\\Package\\\\V2Dumper\\:\\:\\$awsMeta type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Property App\\\\Package\\\\V2Dumper\\:\\:\\$webDir \\(string\\) does not accept string\\|false\\.$#"
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: src/Service/GitHubUserMigrationWorker.php

		-
			message: "#^Right side of \\|\\| is always true\\.$#"
			count: 1
			path: src/Service/GitHubUserMigrationWorker.php

		-
			message: "#^Offset 'status' on array\\{status\\: 'completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone'\\|'queued'\\|'reschedule'\\|'started'\\|'timeout', message\\: string, after\\?\\: DateTime, results\\?\\: array\\{hooks_setup\\: int, hooks_failed\\: array\\<int, array\\{package\\: string, reason\\: mixed\\}\\>, hooks_ok_unchanged\\: int\\}\\}\\|array\\{status\\: 'completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone'\\|'queued'\\|'reschedule'\\|'started'\\|'timeout', message\\: string, after\\?\\: DateTimeInterface, vendor\\?\\: string, details\\?\\: string, e\\?\\: Throwable\\}\\|array\\{status\\: 'errored', message\\: 'An unexpected…', exception\\: Throwable\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Service/QueueWorker.php

		-
			message: "#^Method App\\\\Service\\\\Scheduler\\:\\:createJob\\(\\) has parameter \\$payload with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Scheduler.php

		-
			message: "#^Parameter \\#2 \\$values of method Predis\\\\ClientInterface\\:\\:lpush\\(\\) expects array, string given\\.$#"
			count: 1
			path: src/Service/Scheduler.php
