parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$min \\(1\\) of function random_int expects lower number than parameter \\#2 \\$max \\(int\\<\\-2147483648, 2147483647\\>\\)\\.$#"
			count: 1
			path: src/Controller/ExploreController.php

		-
			message: "#^Parameter \\#1 \\$job of method App\\\\Service\\\\UpdaterWorker\\:\\:process\\(\\) expects App\\\\Entity\\\\Job\\<array\\{id\\: int, update_equal_refs\\: bool, delete_before\\: bool, force_dump\\: bool\\}\\>, App\\\\Entity\\\\Job\\<array\\{id\\: int, update_equal_refs\\: false, delete_before\\: false, force_dump\\: false\\}\\> given\\.$#"
			count: 1
			path: src/DataFixtures/PackageFixtures.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getDependents\\(\\) should return array\\<array\\{id\\: int, name\\: string, description\\: string\\|null, language\\: string\\|null, abandoned\\: int, replacementPackage\\: string\\|null\\}\\> but returns array\\<int\\<0, max\\>, non\\-empty\\-array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Method App\\\\Entity\\\\PackageRepository\\:\\:getSuggestCount\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Query error\\: Unknown column 'd\\.total' in 'order clause' \\(1054\\)\\.$#"
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Offset 'name' on array\\{name\\: string, description\\?\\: string\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Entity/Version.php

		-
			message: "#^Query error\\: Column \"audit_log\\.attributes\" expects value type string, got type array\\<string, mixed\\>$#"
			count: 1
			path: src/EventListener/PackageListener.php

		-
			message: "#^Query error\\: Column \"audit_log\\.datetime\" expects value type string, got type DateTimeImmutable$#"
			count: 1
			path: src/EventListener/PackageListener.php

		-
			message: "#^Query error\\: Column \"audit_log\\.id\" expects value type string, got type Symfony\\\\Component\\\\Uid\\\\Ulid$#"
			count: 1
			path: src/EventListener/PackageListener.php

		-
			message: "#^Method App\\\\Model\\\\FavoriteManager\\:\\:getFavoriteCount\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: src/Model/FavoriteManager.php

		-
			message: "#^Parameter \\#1 \\$job of method App\\\\Service\\\\GitHubUserMigrationWorker\\:\\:process\\(\\) expects App\\\\Entity\\\\Job\\<array\\{id\\: int, update_equal_refs\\: bool, delete_before\\: bool, force_dump\\: bool\\}\\>\\|App\\\\Entity\\\\Job\\<array\\{id\\: int, old_scope\\: string, new_scope\\: string\\}\\>\\|App\\\\Entity\\\\Job\\<array\\{source\\: string\\}\\>, App\\\\Entity\\\\Job\\<array\\<string, bool\\|int\\|string\\>\\> given\\.$#"
			count: 1
			path: src/Service/QueueWorker.php

		-
			message: "#^Parameter \\#1 \\$result of method App\\\\Entity\\\\Job\\<array\\<string, bool\\|int\\|string\\>\\>\\:\\:complete\\(\\) expects array\\{status\\: 'completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone'\\|'queued'\\|'reschedule'\\|'started'\\|'timeout', message\\?\\: string, after\\?\\: DateTimeInterface&Throwable, details\\?\\: string, exception\\?\\: Throwable, exceptionMsg\\?\\: string, exceptionClass\\?\\: class\\-string\\<Throwable\\>, results\\?\\: array, \\.\\.\\.\\}, array\\{status\\: 'completed'\\|'errored'\\|'failed'\\|'package_deleted'\\|'package_gone', message\\: string, after\\?\\: DateTimeInterface, details\\?\\: string, exception\\?\\: Throwable, exceptionMsg\\?\\: string, exceptionClass\\?\\: class\\-string\\<Throwable\\>, results\\?\\: array, \\.\\.\\.\\} given\\.$#"
			count: 1
			path: src/Service/QueueWorker.php
