parameters:
	ignoreErrors:
		-
			message: '#^Dead catch \- Symfony\\Component\\Lock\\Exception\\LockReleasingException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Command/RunWorkersCommand.php

		-
			message: '#^Query error\: Column "audit_log\.attributes" expects value type string, got type array\<string, mixed\>$#'
			identifier: dba.keyValue
			count: 1
			path: src/Entity/AuditRecordRepository.php

		-
			message: '#^Query error\: Column "audit_log\.datetime" expects value type string, got type DateTimeImmutable$#'
			identifier: dba.keyValue
			count: 1
			path: src/Entity/AuditRecordRepository.php

		-
			message: '#^Query error\: Column "audit_log\.id" expects value type string, got type Symfony\\Component\\Uid\\Ulid$#'
			identifier: dba.keyValue
			count: 1
			path: src/Entity/AuditRecordRepository.php

		-
			message: '#^Method App\\Entity\\PackageRepository\:\:getSuggestCount\(\) should return int\<0, max\> but returns int\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: '#^Query error\: Unknown column ''d\.total'' in ''order clause'' \(1054\)\.$#'
			identifier: dba.syntaxError
			count: 1
			path: src/Entity/PackageRepository.php

		-
			message: '#^Method App\\Entity\\PhpStatRepository\:\:getStatVersions\(\) should return list\<array\{version\: string, depth\: 0\|1\|2\|3\}\> but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/PhpStatRepository.php

		-
			message: '#^Offset ''name'' on array\{name\: string, description\?\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: src/Entity/Version.php

		-
			message: '#^Method App\\Model\\FavoriteManager\:\:getFavoriteCount\(\) should return int\<0, max\> but returns int\.$#'
			identifier: return.type
			count: 1
			path: src/Model/FavoriteManager.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Entity\\PackageRepository\:\:getPackagesWithVersions\(\) expects list\<int\>\|null, array\<int\<0, max\>, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Package/SymlinkDumper.php

		-
			message: '#^Method App\\Package\\Updater\:\:sanitize\(\) should return T of string\|null but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Package/Updater.php

		-
			message: '#^Method App\\Package\\Updater\:\:sanitize\(\) should return T of string\|null but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Package/Updater.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Entity\\PackageRepository\:\:getPackagesWithVersions\(\) expects list\<int\>\|null, array\<int\<0, max\>, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Package/V2Dumper.php

		-
			message: '#^Parameter \#1 \$job of method App\\Service\\GitHubUserMigrationWorker\:\:process\(\) expects App\\Entity\\Job\<array\{id\: int, update_equal_refs\: bool, delete_before\: bool, force_dump\: bool\}\>\|App\\Entity\\Job\<array\{id\: int, old_scope\: string, new_scope\: string\}\>\|App\\Entity\\Job\<array\{source\: string\}\>, App\\Entity\\Job\<array\<string, bool\|int\|string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/QueueWorker.php
