# run with: bin/phpstan analyse

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 3

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    paths:
        - src/

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        # https://github.com/phpstan/phpstan-doctrine/issues/176
        - '~Property App\\Entity\\Dependent::\$type type mapping mismatch: database can contain int but property expects~'
