# run with: bin/phpstan analyse

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/staabm/phpstan-dba/config/dba.neon

parameters:
    level: 8
    checkExplicitMixedMissingReturn: true

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    paths:
        - src/

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php

    scanDirectories:
#        - var/cache/dev/Symfony/Config

    bootstrapFiles:
        - phpstan-bootstrap.php

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        # https://github.com/phpstan/phpstan-doctrine/issues/176
        - '~Property App\\Entity\\Dependent::\$type type mapping mismatch: database can contain int but property expects~'
        - '~Property App\\Entity\\PhpStat::\$type type mapping mismatch: database can contain int but property expects~'
        - '~Property App\\Entity\\PhpStat::\$depth type mapping mismatch: database can contain int but property expects~'
