# run with: bin/phpstan analyse

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
# needs the lib to become more useful before enabling for good, and PHPStan CI workflow should have mysql enabled too
#    - vendor/staabm/phpstan-dba/config/dba.neon

parameters:
    level: 8
    checkExplicitMixed: true

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    paths:
        - src/

#    bootstrapFiles:
#        - phpstan-bootstrap.php

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        # https://github.com/phpstan/phpstan-doctrine/issues/176
        - '~Property App\\Entity\\Dependent::\$type type mapping mismatch: database can contain int but property expects~'
        - '~Property App\\Entity\\PhpStat::\$type type mapping mismatch: database can contain int but property expects~'
        - '~Property App\\Entity\\PhpStat::\$depth type mapping mismatch: database can contain int but property expects~'
