{% extends "@FOSUser/layout.html.twig" %}

{% set requiresRecaptcha = true %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_header %}
<h2 class="title">
    Resetting password
</h2>
{% endblock %}

{% block fos_user_content %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request col-md-6" id="request_password">
    {% if invalid_username is defined %}
        <div class="alert alert-warning">
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <div class="input-group">
            <input type="text" id="username" name="username" required="required" class="form-control" />
            <span class="input-group-addon"><span class="icon-user"></span></span>
        </div>
    </div>

    <input type="submit" class="btn btn-block btn-inverse btn-lg" id="_request_password_submit" value="{{ 'resetting.request.submit'|trans }}" />
</form>
{% endblock %}
