{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h1>Confirm package</h1>
    <form action="" method="POST" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}