{% extends noLayout|default(false) ? "::base_nolayout.html.twig" : "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% set showSearchDesc = showSearchDesc is defined ? showSearchDesc : 'hide' %}

{% block content %}
    {% block content_title %}<h3 class="title">Packages</h3>{% endblock %}

    {% block list %}
        {% if packages|length %}
            {{ macros.listPackages(packages, paginate is not defined or paginate, false, meta|default(null)) }}
        {% else %}
            <ul class="packages list-unstyled">
                <li data-url="/packages/stloyd/gosquared-api" class="selected">
                    <h4 class="font-bold">
                        <span class="metadata pull-right">
                            <span class="icon-box"></span> 5
                            <span class="glyphicon glyphicon-star"></span> 0
                        </span>
                        <a href="/packages/stloyd/gosquared-api">stloyd/gosquared-api</a><small>[Not auto-updated]</small>
                    </h4>
                    <p>GoSquared API client</p>
                </li>
                <li data-url="/packages/stloyd/gosquared-api">
                    <h4 class="font-bold">
                        <span class="metadata pull-right">
                            <span class="icon-box"></span> 5
                            <span class="glyphicon glyphicon-star"></span> 0
                        </span>
                        <a href="/packages/stloyd/gosquared-api">stloyd/gosquared-api</a><small>[Not auto-updated]</small>
                    </h4>
                    <p>GoSquared API client</p>
                </li>
            </ul>
            <p>No packages found.</p>
        {% endif %}
    {% endblock %}
{% endblock %}