{% extends noLayout|default(false) ? "::base_nolayout.html.twig" : "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% set showSearchDesc = 'hide' %}

{% block content %}
    <h3 class="title">{% block content_title %}Packages{% endblock %}</h3>

    {% block list %}
        {% if packages|length %}
            {{ macros.listPackages(packages, paginate is not defined or paginate, false, meta|default(null)) }}
        {% else %}
            <p>No packages found.</p>
        {% endif %}
    {% endblock %}
{% endblock %}