{% extends noLayout|default(false) ? "::base_nolayout.html.twig" : "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% set showSearchDesc = showSearchDesc is defined ? showSearchDesc : 'hide' %}

{% block content %}
    {% block content_title %}<h3 class="title">Packages</h3>{% endblock %}

    {% block list %}
        {% if packages|length %}
            {{ macros.listPackages(packages, paginate is not defined or paginate, false, meta|default(null)) }}
        {% else %}
            <p>No packages found.</p>
        {% endif %}
    {% endblock %}
{% endblock %}