{% extends noLayout|default(false) ? "::base_nolayout.html.twig" : "PackagistWebBundle::layout.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% block content %}
    <div class="box clearfix package-list">
        {% block content_title %}<h1>Packages</h1>{% endblock %}
        {% block list %}
            {% if packages|length %}
                {{ macros.listPackages(packages, paginate is not defined or paginate, false, meta|default(null)) }}
            {% else %}
                <p>No packages found.</p>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}