<form name="search_query" method="get" action="/search/" id="search-form" autocomplete="off">
    <div class="sortable row">
        <div class="col-xs-12 js-search-field-wrapper col-md-9">
            <input type="search" id="search_query_query" name="search_query[query]" required="required" autocomplete="off" placeholder="Search packages..." tabindex="1" class=" form-control" value="{{ searchQuery }}" />
        </div>
    </div>
</form>
