<section class="wrapper wrapper-search">
    <div class="container {% if showSearchDesc == 'show' %}with-description{% endif %}">
        {{ render(controller('PackagistWebBundle:Web:searchForm', { req: app.request })) }}

        {%- if showSearchDesc == 'show' %}
        <div class="row">
            <div class="col-sm-9 hidden-xs">
                <img src="{{ asset('bundles/packagistweb/img/logo-small.png') }}" class="logo">
                <p>Packagist is the main <a href="https://getcomposer.org/">Composer</a> repository. It aggregates public PHP packages installable with Composer.</p>
            </div>
        </div>
        {%- endif %}
    </div>
</section>
