{% set showSearchDesc = packages is empty ? 'show' : 'hide' %}

{% embed "PackagistWebBundle:Web:list.html.twig" %}
    {% block content_title %}
        <h3 class="title">Packages</h3>
    {% endblock %}

    {% block content %}
        <div class="search-list">
            {{ block('list') }}
        </div>
    {% endblock %}
{% endembed %}