{% embed "PackagistWebBundle:Web:list.html.twig" %}
    {% block search_results %}
    {% endblock %}

    {% block content %}
        <div class="search-list">
            {{ block('list') }}
        </div>
    {% endblock %}
{% endembed %}
