<section class="wrapper wrapper-blue">
    <div class="container">
        <div class="row">
            <div class="span12">
                {% include "PackagistWebBundle:Web:searchForm.html.twig" %}
            </div>

            {%- if showSearchDesc == 'show' %}
            <div class="span12">
                <p>Packagist is the main <a href="http://getcomposer.org/">Composer</a> repository. It aggregates all sorts of PHP packages that are installable with Composer.</p>
                <p><a href="{{ path('browse') }}">Browse packages</a> or <a href="{{ path('submit') }}">submit your own</a>.</p>
            </div>
            {%- endif %}
        </div>
    </div>
</section>