{% extends "PackagistWebBundle:Web:list.html.twig" %}

{% set showSearchDesc = 'hide' %}

{% block content %}
    <div class="search-list {% if packages is not defined %}hidden{% endif %}">
        {% if packages is defined %}
            {{ block('list') }}
        {% endif %}
    </div>
{% endblock %}