{% set showSearchDesc = packages is empty ? 'show' : 'hide' %}

{% embed "PackagistWebBundle:Web:list.html.twig" %}
    {% block search_results %}
    {% endblock %}

    {% block content %}
        <div class="search-results">
            {{ block('list') }}
        </div>
    {% endblock %}
{% endembed %}
