<section class="wrapper wrapper-blue">
    <div class="container">
        {{ render(controller('PackagistWebBundle:Web:searchForm', { req: app.request })) }}

        {%- if showSearchDesc == 'show' %}
        <div class="row">
            <div class="col-xs-12 hidden-xs">
                <p>Packagist is the main <a href="http://getcomposer.org/">Composer</a> repository. It aggregates public PHP packages installable with Composer.</p>
            </div>
        </div>
        {%- endif %}
    </div>
</section>
