parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: packagist
    database_user: root
    database_password:

    mailer_transport:
    mailer_host: localhost
    mailer_user:
    mailer_password:
    mailer_from_email: admin@example.org
    mailer_from_name: Admin Team

    # packagist_host: example.org
    # router.request_context.host: %packagist_host%
    # router.request_context.scheme: https

    redis_dsn: redis://localhost/1

    locale: en

    google_analytics:
        ga_key:

    github.client_id:
    github.client_secret:

    force_ssl: false
    
    # e.g. [127.0.0.1] if the app is running behind a reverse proxy on localhost
    trusted_proxies: ~

fr3d_ldap:
    driver:
        host:                localhost
#       port:                389    # Optional
#       username:            foo    # Optional
#       password:            bar    # Optional
        bindRequiresDn:      true
#       baseDn:              ou=users, dc=host, dc=foo   # Optional
#       accountFilterFormat: (&(uid=%s)) # Optional. sprintf format %s will be the username
#       optReferrals:        false  # Optional
#       useSsl:              true   # Enable SSL negotiation. Optional
#       useStartTls:         true   # Enable TLS negotiation. Optional
    user:
        baseDn: ou=users, dc=host, dc=foo
#       filter: (&(ObjectClass=person)) # Optional
        attributes:          # Specify ldap attributes mapping [ldap attribute, user object method]
           - { ldap_attr: uid,  user_method: setUsername } # Required
           - { ldap_attr: mail,   user_method: setEmail }  # Required

    # -- performance features --
    # set both to apc to optimize things if it is available
    validation_cache_backend: ~
    doctrine_cache_backend: array

    # -- security features --
    secret: CHANGE_ME_IN_PROD
    remember_me.secret: CHANGE_ME_IN_PROD

    # set to true to enforce ssl, make sure you have a proper certificate in place
    force_ssl: false
    # e.g. [127.0.0.1] if the app is running behind a reverse proxy on localhost
    trusted_proxies: ~
    # e.g. ['.*\.?packagist\.org$'] to allow packagist.org and all subdomains as valid hosts
    trusted_hosts: ~
