parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_name: packagist
    database_user: root
    database_password:

    mailer_transport:
    mailer_host: localhost
    mailer_user:
    mailer_password:

    locale: en

    secret: CHANGE_ME_IN_PROD

    google_analytics:
        key: