@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
    url('../font/fontello.woff') format('woff'),
    url('../font/fontello.ttf') format('truetype'),
    url('../font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.navbar-wrapper {
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: #2c3e50;
}

.navbar {
    margin: 0;
}

.navbar-inner {
    padding-right: 0;
    background: none;
    box-shadow: none;
    border: 0;
}

.navbar-fixed-top {
    height: 57px;
}

.navbar h1 {
    line-height: 32px;
    margin: 0;
}

.navbar h1 .brand {
    padding-left: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.navbar h1 em {
    display: block;
    padding-top: 18px;
    font: italic 14px 'Times New Roman';
    color: #BDC3C7;
}

.navbar .nav > li > a, .navbar .nav > .active > a {
    padding: 18px 25px 19px;
    background: none;
    box-shadow: none;
    border-left: 1px solid rgba(69, 78, 92, 0.5);
    text-shadow: none;
    color: #fff;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: #068fd5;
    box-shadow: none;
    color: #fff;
}

.navbar .nav > li:last-child > a {
    border-right: 1px solid rgba(69, 78, 92, 0.5);
}

.navbar .nav > li > a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.navbar .nav > li > a:focus {
    background: #068FD5;
    color: #fff;
}

.navbar .nav {
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.nav-user {
    position: relative;
}

.navbar .nav > li > a.nav-signout {
    padding: 19px 19px 15px;
    font-size: 22px;
}

.navbar .nav > .nav-user > section {
    float: left;
    padding: 5px 20px 0 0;
    cursor: default;
}

.navbar .nav > .nav-user > .nav-user-signin {
    padding: 18px 20px 19px;
    border-left: 1px solid rgba(69, 78, 92, 0.5);
    color: #454e5c;
}

.navbar .nav > .nav-user > section a {
    color: #fff;
}

.navbar .nav > .nav-user > section:hover {
    background: #f6f3ef;
    color: #454e5c;
}

.navbar .nav > .nav-user > section:hover a {
    color: #454e5c;
}

.navbar .nav > .nav-user > .nav-user-signin:hover a.btn {
    color: #fff;
}

.navbar .nav > .nav-user > section > .nav-user-menu, .navbar .nav > .nav-user > section > .nav-user-signin-menu {
    display: none;
}

.navbar .nav > .nav-user > section:hover > .nav-user-menu, .navbar .nav > .nav-user > section:hover > .nav-user-signin-menu {
    display: block;
}

.navbar .nav > .nav-user > section:hover > .nav-user-menu a {
    color: #454e5c;
    text-decoration: none;
}

.navbar .nav > .nav-user > section:hover > .nav-user-menu a:hover {
    color: #08c;
}

.nav-user section img {
    width: 57px;
    height: 57px;
    padding-right: 15px;
    margin-top: -5px;
}

.nav-user .nav-user-menu {
    top: 57px;
    position: absolute;
    z-index: 110;
    width: 174px;
    padding: 12px 15px 12px 20px;
    margin: 0;
    list-style: none;
    background: #f6f3ef;
    box-shadow: 3px 2px 4px #ddd;
    color: #454e5c;
}

.nav-user .nav-user-menu li {
    line-height: 31px;
}

.nav-user .nav-user-menu span {
    float: right;
    font-size: 20px;
}

.nav-user .nav-user-menu span.normal {
    float: none;
}

.nav-user .nav-user-menu hr {
    margin: 7px 0 5px;
}

.nav-user .nav-user-signin-menu {
    top: 57px;
    left: -228px;
    position: absolute;
    z-index: 110;
    padding: 12px 20px;
    margin: 0;
    list-style: none;
    background: #f6f3ef;
    box-shadow: 0 3px 3px #ccc;
    color: #454e5c;
}

.nav-user .nav-user-signin-menu .input-prepend input {
    width: 83%;
}

.nav-user .nav-user-signin-menu .input-prepend .add-on {
    background: #fff;
}

.nav-user .nav-user-signin-menu div {
    font-size: 12px;
}

.nav-user .nav-user-signin-menu label {
    width: 99%;
}

.nav-user .btn-github {
    font-weight: 600;
    text-align: left;
    line-height: inherit;
    width: 37%;
}

.nav-user .btn-github span {
    font-size: 18px;
    margin: 0 6px 0 0;
}

.nav-user .btn-success {
    width: 47%;
}


.wrapper .container {
    padding: 26px 20px;
    color: #1a1d24;
}

.wrapper .container p {
    font-size: 16px;
    margin-top: 10px;
    line-height: 22px;
}

.wrapper-blue .container {
    padding: 10px 20px 15px;
}

.wrapper-blue .container p {
    margin-top: 8px;
}

.wrapper .container .btn-white {
    margin: -3px 0 0 5px;
}

.wrapper-blue {
    background: #068FD5;
}

.wrapper-blue .container {
    color: #fff;
}

.wrapper-blue a {
    color: #fff;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
}

.wrapper-blue a:hover {
    text-decoration: none;
}

.wrapper-footer {
    background: #2c3e50;
    font-size: 14px;
    line-height: 16px;
    padding: 35px 0 20px;
}

.wrapper-footer ul {
    list-style: none;
}

.wrapper-footer li {
    padding-bottom: 8px;
}

.wrapper-footer a {
    color: #fff;
}

.wrapper-footer a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

.wrapper-footer .social {
    font-size: 26px;
}

.wrapper-footer .social li {
    float: left;
    margin-left: 15px;
}


#search-form {
    margin-top: 19px;
}

#search-form input[type="search"] {
    width: 98%;
    padding: 0 0 0 15px;
    font: 20px 'Open Sans', sans-serif;
    border: 0;
    height: 58px;
    color: #555;
    outline: none;
    float: left;
    box-sizing: border-box;
}


button {
    font-family: 'Open Sans';
}

input[type="email"], input[type="text"], input[type="password"], textarea, select {
    min-height: 20px;
    padding: 7px 11px 6px 9px;
    box-shadow: none;
    border-radius: 2px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

    transition: none;
    -o-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

input[disabled], select[disabled], textarea[disabled] {
    background: #fff;
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    padding: 6px 9px 5px;
    box-shadow: none;
    border-width: 2px;
    border-radius: 0 2px 2px 0;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    box-shadow: none;
}

.input-append, .input-prepend {
    display: inline;
}

.input-prepend input {
    float: right;
    margin: 0 0 6px;
    width: 85%;
}

.input-prepend .add-on {
    float: left;
    min-height: 22px;
    width: 10%;
    padding: 5px 0 6px;
    margin: 0 -4px 6px 0;
    border-right: 0;
    background: none;
    color: #c6cacd;
    font-size: 16px;
}

.input-append .add-on-button {
    padding: 0;
}

.input-append .add-on .btn {
    padding: 6px 20px;
    border-width: 0 0 2px;
}

.input-prepend input:focus ~ .add-on {
    padding-top: 4px;
    padding-bottom: 5px;
    border-width: 2px;
    border-color: rgba(82, 168, 236, 0.8);
    border-radius: 2px 0 0 2px;
}

.input-prepend input:focus ~ .add-on span {
    margin-left: -1px;
    color: rgb(82, 168, 236);
}

.input-prepend input:focus:invalid:focus ~ .add-on {
    border-color: #fa3a15;
}

.input-prepend input:focus:invalid:focus ~ .add-on span {
    color: #fa3a15;
}

.input-prepend input, .input-prepend select {
    border-left: 0;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    border-radius: 2px 0 0 2px;
}

.nav-tabs {
    border: 0;
}

.nav-tabs li {
}

.nav-tabs li a {
    padding: 11px 20px;
    background: #f3f4f5;
    color: #515966;
    font-size: 15px;
    font-weight: 600;
}

.nav-tabs li.active a, .nav-tabs.nav-stacked > li > a:hover {
    background: #068fd5;
    color: #fff;
}

.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
    border-width: 0 0 1px;
}

.nav-tabs.nav-stacked > li > a:hover {
    background: #068fd5;
}

.nav-tabs.nav-stacked [class^="icon-"], .nav-tabs.nav-stacked [class*=" icon-"] {
    float: right;
    font-size: 20px;
}


.btn {
    padding: 9px 20px;
    box-shadow: none;
    border: 0;
    border-bottom: 4px solid #a5aab0;
    border-radius: 3px;
    background: #bbbfc4;
    text-shadow: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.btn.disabled {
    border-bottom-color: #e1e1e8;
}

.btn:hover {
    background: #bbbfc4;
    color: #fff;
}

.btn.disabled:hover {
    background: #e6e6e6;
    color: #333;
}

.btn:focus, .btn:active {
    padding-bottom: 11px;
    border-bottom: 2px solid;
}

.btn-danger, .btn-danger:hover {
    background: #ff4533;
    border-bottom-color: #cd3729;
}

.btn-danger:focus, .btn-danger:active {
    border-bottom-color: #cd3729;
}

.btn-inverse, .btn-inverse:hover {
    background: #454e5c;
    border-bottom-color: #303339;
}

.btn-inverse:focus, .btn-inverse:active {
    border-bottom-color: #303339;
}

.btn-primary, .btn-primary:hover {
    background: #36b7e6;
    border-bottom-color: #2fa1ca;
}

.btn-primary:focus, .btn-primary:active {
    border-bottom-color: #2fa1ca;
}

.btn-success, .btn-success:hover {
    background: #83c129;
    border-bottom-color: #69ad21;
}

.btn-success:focus, .btn-success:active {
    border-bottom-color: #69ad21;
}

.btn-github {
    width: 88%;
    line-height: 26px;
    text-align: left;
    font-weight: 400;
}

.btn-github span {
    margin: 0 25px;
    vertical-align: text-top;
    font-size: 22px;
}


.pagination {
    margin: 6px 0;
}

.pagination ul {
    list-style: none;
    margin: 0;
}

.pagination ul > li {
    float: left;
    line-height: 40px;
    padding: 0 20px 0 0;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #E8E2D8;
    border-radius: 40px 40px 40px 40px;
    color: #55606E;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-bottom-left-radius: 40px;
    border-left-width: inherit;
    border-top-left-radius: 40px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    border-bottom-left-radius: 40px;
    border-left-width: inherit;
    border-top-left-radius: 40px;
}


pre {
    background: #f9f9f9;
    margin: 3px 3px 10px;
    padding: 7px 10px;
}


.wrapper .content h2.title, .wrapper .content h3.title {
    margin: -15px 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #DDDFE1;
    color: #191D23;
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
}

.wrapper .content h3.title {
    padding: 0 0 15px;
    font-size: 40px;
    line-height: 45px;
}

.wrapper .content h2 {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 18px;
    padding-right: 20px;
}

.wrapper .content h2 small {
    margin-left: 10px;
    vertical-align: middle;
}

.wrapper .content h2 a {
    color: #30353E;
    font-weight: bold;
    text-decoration: none;
}

.wrapper .content p {
    line-height: 20px;
    margin: 0;
    padding: 10px 0;
    vertical-align: baseline;
}


.font-slim {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.font-fat {
    font-weight: 700;
}

.text-center {
    text-align: center;
}


.span6 .input-prepend input {
    width: 89%;
}

.span6 .input-prepend .add-on {
    margin-right: -5px;
    width: 8%;
}


#submit-package-form input[type="text"] {
    font-size: 14px;
    height: 40px;
    border-radius: 4px;
}


.notifications {
    float: left;
    width: 99%;
    margin-bottom: 10px;
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 110%;

    display: inline-block;
    width: 1em;

    line-height: 1;
    text-decoration: inherit;
    text-align: center;
    speak: none;
}

.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cogs:before { content: '\26ef'; } /* '⛯' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-off:before { content: '\e78e'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-paper-plane:before { content: '\e79b'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-box:before { content: '\f330'; } /* '' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-chart:before { content: '📈'; } /* '\1f4c8' */
.icon-megaphone:before { content: '📣'; } /* '\1f4e3' */
.icon-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-rocket:before { content: '🚀'; } /* '\1f680' */
