{% extends "layout.html.twig" %}

{% set showSearchDesc = 'hide' %}

{% block head_additions %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block content %}
    <div class="admin-nav" style="margin-bottom: 20px">
        {{ knp_menu_render('admin_menu', {'currentClass': 'active', 'allow_safe_labels': true}) }}
    </div>

    {% block admin_content %}{% endblock %}
{% endblock %}
