[mysql]
user = root
password = roots3cr3t
host = database
port = 3306

[mysqladmin]
user = root
password = roots3cr3t
host = database
port = 3306

[mysqldump]
user = root
password = roots3cr3t
host = database
port = 3306
