{% extends 'PackagistWebBundle::layout.html.twig' %}

{% block content %}

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="{{ type }}" style="margin-bottom: 5px;">
                {{ flashMessage|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="box clearfix">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}
