{% extends 'PackagistWebBundle::layout.html.twig' %}

{% block content %}

    {% for key, flash in app.session.getFlashes() %}
	    <div class="{{ flash }}" style="margin-bottom: 5px;">
	        {{ key|trans({}, 'FOSUserBundle') }}
	    </div>
    {% endfor %}

    <div class="box clearfix">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}
