{% extends "PackagistWebBundle:Web:list.html.twig" %}

{% set filters = [] %}

{% if type %}{% set filters = filters|merge(['browse.of_type'|trans({ '%type%': type|join('browse.join_or'|trans)})]) %}{% endif %}
{% if tag %}{% set filters = filters|merge(['browse.with_tag'|trans({ '%tag%': tag|join('browse.join_or'|trans)})]) %}{% endif %}

{% block content_title %}
    <h1>{{ 'browse.packages'|trans }} {{ filters|join('browse.join_and'|trans) }}</h1>
{% endblock %}

{# TODO:

- Add browsing by tag, type, most required, ..

#}