{% extends "PackagistWebBundle:user:packages.html.twig" %}

{% import "PackagistWebBundle::macros.html.twig" as macros %}

{% set isActualUser = app.user and app.user.username is same as(user.username) %}

{% block content %}
    <h2 class="title">
        {{ user.username }}
    </h2>

    <section class="row">
        <section class="col-md-3">
            {{ knp_menu_render('profile_menu', {currentClass: 'active', allow_safe_labels: true}) }}
        </section>

        <section class="col-md-9">
            {% if user.totpAuthenticationEnabled %}
                <p class="alert alert-success">
                    <span class="icon-lock"></span>
                    Two-factor authentication is currently <strong>enabled</strong>.
                </p>

                <p>Two-factor authentication is an extra layer of security for your Packagist account designed to ensure that you're the only person who can access your account, even if someone knows your password.</p>

                <a href="{{ path('user_2fa_disable', {name: user.username}) }}" class="btn btn-block btn-danger">Disable two-factor authentication</a>
            {% else %}
                <p class="alert alert-warning">
                    <span class="icon-unlock"></span>
                    Two-factor authentication is currently <strong>disabled</strong>.
                </p>

                <p>Two-factor authentication is an extra layer of security for your Packagist account designed to ensure that you're the only person who can access your account, even if someone knows your password.</p>

                <a href="{{ path('user_2fa_enable', {name: user.username}) }}" class="btn btn-block btn-primary btn-lg">Enable two-factor authentication</a>
            {% endif %}
        </section>
    </section>
{% endblock %}
