{% extends "PackagistWebBundle:Web:index.html.twig" %}

{% block content_title %}
    <h1>{{ user.username }}'s Profile</h1>
    <br />
    <div>
        <strong>Email:</strong> {{ user.email }}
        <b></b>
    </div>
    <br />
    <h2>Packages maintained by {{ user.username }}</h1>
{% endblock %}
