# See the Conductor setup guide at https://packagist.com/docs/conductor/getting-started

on:
  repository_dispatch:
    types:
      - dependency_update

name: Private Packagist Conductor

permissions:
  contents: write

jobs:
  conductor:
    name: Private Packagist Conductor
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          coverage: "none"
          extensions: "intl, zip, apcu"
          php-version: "8.4"

      # See the Conductor GitHub Action at https://github.com/packagist/conductor-github-action
      - name: "Running Conductor"
        uses: packagist/conductor-github-action@e81e78d82afce26b2951c49efdba695db24e2149 # 1.5.1
