name: "PHP Lint"

on:
  - push
  - pull_request

jobs:
  tests:
    name: "Lint"

    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          coverage: "none"
          extensions: "intl"
          php-version: "8.4"

      - name: "Lint PHP files"
        run: "find src/ -type f -name '*.php' -print0 | xargs -0 -L1 -P4 -- php -l -f"

      - uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          composer-options: "--ansi --no-interaction --no-progress --prefer-dist"

      - name: PHP CS Fixer
        run: ./vendor/bin/php-cs-fixer check
