name: "PHPStan"

on:
  - push
  - pull_request

env:
  COMPOSER_FLAGS: "--ansi --no-interaction --no-progress --prefer-dist"
  APP_ENV: dev

jobs:
  tests:
    name: "PHPStan"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          extensions: "intl, zip, apcu"
          php-version: "8.0"
          tools: composer

      - name: Get composer cache directory
        id: composercache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composercache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: "Start MySQL"
        run: |
          sudo systemctl start mysql.service
          echo 'DATABASE_URL="mysql://root:root@127.0.0.1:3306/packagist?serverVersion=8.0"' > .env.dev.local

      - name: "Install dependencies"
        run: "composer install ${{ env.COMPOSER_FLAGS }}"

      - name: "Setup DB"
        run: |
          bin/console doctrine:database:create -n
          bin/console doctrine:schema:create -n

      - name: Run PHPStan
        run: composer phpstan
