<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

<IfModule mod_headers.c>
# Because X-UA-Compatible isn't sent to non-IE (to save header bytes),
#   We need to inform proxies that content changes based on UA
  Header append Vary User-Agent
# Cache control is set only if mod_headers is enabled, so that's unncessary to declare
</IfModule>

# ----------------------------------------------------------------------
# Webfont access
# ----------------------------------------------------------------------

# allow access from all domains for webfonts
# alternatively you could only whitelist
#   your subdomains like "sub.domain.com"

<FilesMatch "\.(ttf|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

# ----------------------------------------------------------------------
# Proper MIME type for all files
# ----------------------------------------------------------------------

# audio
AddType audio/ogg                      oga ogg

# video
AddType video/ogg                      ogv
AddType video/mp4                      mp4
AddType video/webm                     webm

# Proper svg serving. Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml              svg svgz
AddEncoding gzip                       svgz

# webfonts
AddType application/vnd.ms-fontobject  eot
AddType font/truetype                  ttf
AddType font/opentype                  otf
AddType application/x-font-woff        woff

# assorted types
AddType image/x-icon                   ico
AddType image/webp                     webp
AddType text/cache-manifest            appcache manifest
AddType text/x-component               htc
AddType application/x-chrome-extension crx
AddType application/x-xpinstall        xpi
AddType application/octet-stream       safariextz


##   # ----------------------------------------------------------------------
##   # Expires headers (for better cache control)
##   # ----------------------------------------------------------------------
##
##   # these are pretty far-future expires headers
##   # they assume you control versioning with cachebusting query params like
##   #   <script src="application.js?20100608">
##   # additionally, consider that outdated proxies may miscache
##   #   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/
##
##   # if you don't use filenames to version, lower the css and js to something like
##   #   "access plus 1 week" or so
##
##   <IfModule mod_expires.c>
##     ExpiresActive on
##
##   # Perhaps better to whitelist expires rules? Perhaps.
##     ExpiresDefault                          "access plus 1 month"
##
##   # cache.appcache needs re-requests in FF 3.6 (thx Remy ~Introducing HTML5)
##     ExpiresByType text/cache-manifest       "access plus 0 seconds"
##
##   # your document html
##     ExpiresByType text/html                 "access plus 0 seconds"
##
##   # data
##     ExpiresByType text/xml                  "access plus 0 seconds"
##     ExpiresByType application/xml           "access plus 0 seconds"
##     ExpiresByType application/json          "access plus 0 seconds"
##
##   # rss feed
##     ExpiresByType application/rss+xml       "access plus 1 hour"
##
##   # favicon (cannot be renamed)
##     ExpiresByType image/x-icon              "access plus 1 week"
##
##   # media: images, video, audio
##     ExpiresByType image/gif                 "access plus 1 month"
##     ExpiresByType image/png                 "access plus 1 month"
##     ExpiresByType image/jpg                 "access plus 1 month"
##     ExpiresByType image/jpeg                "access plus 1 month"
##     ExpiresByType video/ogg                 "access plus 1 month"
##     ExpiresByType audio/ogg                 "access plus 1 month"
##     ExpiresByType video/mp4                 "access plus 1 month"
##     ExpiresByType video/webm                "access plus 1 month"
##
##   # htc files  (css3pie)
##     ExpiresByType text/x-component          "access plus 1 month"
##
##   # webfonts
##     ExpiresByType font/truetype             "access plus 1 month"
##     ExpiresByType font/opentype             "access plus 1 month"
##     ExpiresByType application/x-font-woff   "access plus 1 month"
##     ExpiresByType image/svg+xml             "access plus 1 month"
##     ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
##
##   # css and javascript
##     ExpiresByType text/css                  "access plus 2 months"
##     ExpiresByType application/javascript    "access plus 2 months"
##     ExpiresByType text/javascript           "access plus 2 months"
##
##     <IfModule mod_headers.c>
##       Header append Cache-Control "public"
##     </IfModule>
##
##   </IfModule>



# ----------------------------------------------------------------------
# ETag removal
# ----------------------------------------------------------------------

# Since we're sending far-future expires, we don't need ETags for
# static content.
#   developer.yahoo.com/performance/rules.html#etags
FileETag None

# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# ----------------------------------------------------------------------
# Suppress or force the "www." at the beginning of URLs
# ----------------------------------------------------------------------

# The same content should never be available under two different URLs - especially not with and
# without "www." at the beginning, since this can cause SEO problems (duplicate content).
# That's why you should choose one of the alternatives and redirect the other one.

# By default option 1 (no "www.") is activated. Remember: Shorter URLs are sexier.
# no-www.org/faq.php?q=class_b

# If you rather want to use option 2, just comment out all option 1 lines
# and uncomment option 2.
# IMPORTANT: NEVER USE BOTH RULES AT THE SAME TIME!

# ----------------------------------------------------------------------

# Option 1:
# Rewrite "www.domain.com -> domain.com"

<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# ----------------------------------------------------------------------
# Symfony front controller
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

# ----------------------------------------------------------------------
# Built-in filename-based cache busting
# ----------------------------------------------------------------------

# If you're not using the build script to manage your filename version revving,
# you might want to consider enabling this, which will route requests for
# /css/all.20110203.css to /res/all.css

# To understand why this is important and a better idea than all.css?v1231,
# read: github.com/paulirish/html5-boilerplate/wiki/Version-Control-with-Cachebusting

# Uncomment to enable.
# <IfModule mod_rewrite.c>
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]
# </IfModule>

# ----------------------------------------------------------------------
# Prevent SSL cert warnings
# ----------------------------------------------------------------------

# Rewrite secure requests properly to prevent SSL cert warnings, e.g. prevent
# https://www.domain.com when your cert only allows https://secure.domain.com
# Uncomment the following lines to use this feature.

# <IfModule mod_rewrite.c>
#   RewriteCond %{SERVER_PORT} !^443
#   RewriteRule (.*) https://example-domain-please-change-me.com/$1 [R=301,L]
# </IfModule>

# ----------------------------------------------------------------------
# Prevent 404 errors for non-existing redirected folders
# ----------------------------------------------------------------------

# without -MultiViews, Apache will give a 404 for a rewrite if a folder of the same name does not exist
#   e.g. /blog/hello : webmasterworld.com/apache/3808792.htm

Options -MultiViews

# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss
